<!doctype html>
<html>

<body>
    Good day,
    this applicant wants to apply for residence permit:
    Name: {{this.name}}
    Surname: {{this.surname}}
    Birthdate: {{this.birthdate}}
    Passport type: {{this.passport_type}}
    Arrival date: {{this.arrival_date}}
    Body Height: {{this.body_height}}
    Eye Color: {{this.eye_color}}
    Birth place: {{this.birth_place}}
    Marital status: {{this.martial_status}}
    Email: {{this.Email}}
    Phone: {{this.Phone}}
    Registration address: {{this.registration_address}}
    District: {{this.district}}
    Job offer existent: {{this.job_offer_existent}}
    General work permit required: {{this.general_work_permit_required}}
    The copies of the documents are attached below.
    Best wishes
    {{this.Name}} Passport Copy
    {{this.Name}} Registration document copy
</body>
</html>