<!doctype html>
<html>

<body>
    <p>Good day,</p>  
    <p>this applicant wants to apply for residence permit:</p>
    <p>Name: {{name}}</p>
    <p>Surname: {{surname}}</p>
    <p>Birthdate: <time datetime="{{birthdate}}">{{birthdate}}</time></p>
    <p>Passport type: {{passport_type}}</p>
    <p>Arrival date: <time datetime="{{arrival_date}}">{{arrival_date}}</time></p>
    <p>Body Height: {{body_height}}</p>
    <p>Eye Color: {{eye_color}}</p>
    <p>Birth place: {{birth_place}}</p>
    {{!-- <p>Marital status: {{martial_status}}</p> --}}
    <p>Email: {{email}}</p>
    <p>Phone: {{phone}}</p>
    <p>Registration address: {{registration_address}}</p>
    <p>District: {{district}}</p>
    <p>Job offer existent: {{job_offer_existent}}</p>
    <p>General work permit required: {{general_work_permit_required}}</p>
    <p>The copies of the documents are attached below.</p>
    <p>Best wishes</p>
    <p>Passport Copy:</p>
    <p><img style="width:250px;" src="cid:passport"> </p>
    <p>Registration document copy:</p>
    <p><img style="width:250px;" src="cid:registration"> </p>
 </body>

</html>